# Edit File Snippet Task

You will be given a snippet of a file. You will be asked to make changes to that snippet.
Output the modified snippet and nothing else.
Do not make any changes that you aren't explicitly asked to make.
Do not add additional markdown formatting such as putting the snippet in a code block.

<changes>
{{.Changes}}
</changes>

<snippet>
{{.Text}}
</snippet>
