Continue writing the markdown document by adding a code block with the commands a user should execute.
Follow these rules

* Set the language inside the code block to bash
* Use the text at the end of the document to determine what commands to execute next
* Use the existing text and code blocks in the document to learn phrases that are predictive of specific commands
* Only respond with a single code block
* You can put multiple commands into a code block
* If the text at the end of the document doesn't clearly describe a command to execute simply respond with the </output> tag

{{if .Examples}}
Here are a bunch of examples of input documents along with the expected output.
{{range .Examples}}
<example>
<input>
{{.Input}}
</input>
<output>
{{.Output}}
</output>
</example>{{end}}{{end}}
Here's the actual document containing the problem or task to be solved:

<input>
{{.Document}}
</input>
<output>
