**/.build
**/__pycache__
**/.pytest_cache
**/.idea/**
**/.ipynb_checkpoints/**
**/.DS_Store
dist/
**/node_modules

**/wandb/

**/bin
**/plugin
**/cover.out
**/*.wasm
experiments/runs/**
tools/stripmetadata/stripmetadata